{% extends "base.html" %}

{% block title %}
<title>Aspirasi</title>
{% endblock %}

{% block core %}
<div class="container p-6 h-full">
	<video autoplay muted loop id="homeVideo">
		{% load static %}
		<source src="{% static 'asset/bg_video.mp4' %}" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
	<div class="bg-content flex flex-col justify-between">
		<img class="logo" src="{% static 'asset/logo2.png' %}">
		<p class="text-4xl text-center text-bold text-white-800">Connecting to Your Future</p>
		<a class="w-full my-12 mx-auto flex items-center" href="{% url 'survey' %}">
			<button class="home-btn shadow-dreamy text-white rounded-full text-md mx-auto w-2/3 py-2 btn-lg">Discover now</button>
		</a>
	</div>
</div>
{% endblock %}