{% extends "base.html" %}

{% block title %}
<title>Skill Gap</title>
{% endblock %}

{% block core %}
<div class=" theme-background" style="height: 30% !important; top:0; min-height: 0;"></div>
<div class="container h-full position" style="padding: 0;">
	<div class="m-6">
		<div class="page-title">Skills Gap</div>
		<div class="page-desc">There are the common skills gap for tech industry.</div>
	</div>		
	<div class="text-center">
		<lottie-player src="https://assets8.lottiefiles.com/temp/lf20_MySSqG.json"  background="transparent"  speed="0.7"  style="width: 300px; height: 300px; margin: auto; position: absolute; z-index: 999; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;"  loop  autoplay></lottie-player>
	</div>
	<div class="content-bg flex flex-col justify-between p-6" style="margin-top: 150px;">
		<div style="margin-top: 150px;">
			<button class="rectangle-skill truncate">User and entity big data analytics: <span class="selected-filter-text">85%</span></button>
			<button class="rectangle-skill truncate">App- and web-enabled market: <span class="selected-filter-text">75%</span></button>
			<button class="rectangle-skill truncate">Internet of things: <span class="selected-filter-text">75%</span></button>
			<button class="rectangle-skill truncate">Machine learning: <span class="selected-filter-text">73%</span></button>
			<button class="rectangle-skill truncate">Cloud computing: <span class="selected-filter-text">72%</span></button>
			<button class="rectangle-skill truncate">Digital trade: <span class="selected-filter-text">59%</span></button>
			<button class="rectangle-skill truncate">Augmented and virtual reality: <span class="selected-filter-text">58%</span></button>
			<button class="rectangle-skill truncate">Encryption: <span class="selected-filter-text">54%</span></button>
			<button class="rectangle-skill truncate">New materials: <span class="selected-filter-text">52%</span></button>
			<button class="rectangle-skill truncate">Wearables electronics: <span class="selected-filter-text">46%</span></button>
			<button class="rectangle-skill truncate">Distributed ledger (blockchain): <span class="selected-filter-text">45%</span></button>
			<button class="rectangle-skill truncate">3D printing: <span class="selected-filter-text">41%</span></button>
			<button class="rectangle-skill truncate">Autonomous transport: <span class="selected-filter-text">40%</span></button>
			<button class="rectangle-skill truncate">Stationary robots: <span class="selected-filter-text">37%</span></button>
			<button class="rectangle-skill truncate">Quantum computing: <span class="selected-filter-text">36%</span></button>
			<button class="rectangle-skill truncate">Non-humanoid land robots: <span class="selected-filter-text">33%</span></button>
			<button class="rectangle-skill truncate">Biotechnology: <span class="selected-filter-text">28%</span></button>
			<button class="rectangle-skill truncate">Humanoid robots: <span class="selected-filter-text">23%</span></button>
			<button class="rectangle-skill truncate">Aerial and underwater robots: <span class="selected-filter-text">19%</span></button>
		</div>
		<!-- https://www.cmswire.com/digital-workplace/understanding-the-tech-skills-gap/ -->
		<a class="w-full my-12 mx-auto flex items-center" href="{% url 'mentors' %}">
			<button class="home-btn shadow-dreamy text-white rounded-full text-md mx-auto w-2/3 p-2">Connect with future you</button>
		</a>
	</div>
</div>
{% endblock %}