{% extends "base.html" %} {% block title %}
<title>Survey</title>
{% endblock %} {% block core %}
<div class=" theme-background"></div>
<div class="container h-full position" style="padding: 0;">
	<div class="m-6">
		<div class="page-title">Survey</div>
	<div class="page-desc">Answer below questions to check your future career.</div>
	</div>
  <div class="flex flex-col justify-between">
	<form action="{% url 'results' %}" method="post">
	{% csrf_token %}
    <div
      id="demo"
      class="carousel slide"
      data-ride="carousel"
	  data-interval="0"
	  data-wrap="false"
    >
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  <!-- {{ wizard.management_form }} -->
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
			<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_HpFqiS.json"  background="transparent"  speed="0.7"  style="width: 300px; height: 300px; margin: auto;"  loop  autoplay></lottie-player>
          <div class="survey-caption survey-margin">
			<p class="text-lg font-semibold">What course did you study?</p>
            <!-- <input
              class="bg-gray-500 text-black text-center rounded text-md w-full py-2"
              placeholder="Course"
			/> -->
			{{form1}}
          </div>
        </div>
        <div class="carousel-item">
			<lottie-player src="https://assets8.lottiefiles.com/private_files/lf30_cyQ8b1.json"  background="transparent"  speed="0.7"  style="width: 300px; height: 300px; margin: auto;"  loop  autoplay></lottie-player>
		  <div class="survey-caption survey-margin">
			<p class="text-lg font-semibold">Which university did you go to?</p>
            <!-- <input
              class="bg-gray-500 text-black text-center rounded text-md w-full py-2"
              placeholder="University"
			/> -->
			{{form2}}
          </div>
        </div>
        <div class="carousel-item">
			<lottie-player src="https://assets6.lottiefiles.com/temp/lf20_JvT50n.json"  background="transparent"  speed="0.7"  style="width: 300px; height: 300px; margin: auto;"  loop  autoplay></lottie-player>
		  <div class="survey-caption survey-margin">Where do you intend to work?</p>
            <!-- <input
              class="bg-gray-500 text-black text-center rounded text-md w-full py-2"
              placeholder="location"
			/> -->
			<!-- {{wizard.form}} -->
			{{form3}}
          </div>
        </div>
      </div>
      <a
        class="next w-full mx-auto flex items-center my-4 position-absolute bottom-4"
        href="#demo"
        data-slide="next"
      >
        <button
          class="home-btn shadow-dreamy text-white rounded-full text-md mx-auto w-2/3 p-2 survey-margin"
		  type="submit" 
        >
          Next
        </button>
	  </a>
	  <a
		class="submit w-full mx-auto flex items-center my-4 position-absolute bottom-4"
		style="display:none"
      >
        <button
          class="home-btn shadow-dreamy text-white rounded-full text-md mx-auto w-2/3 p-2 survey-margin"
		  type="submit" 
        >
          Submit
        </button>
      </a>
	</div>
	</form>
    <!-- <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
		<form action="" method="post">
		{% csrf_token %}
		<div>
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
			{{ wizard.form.management_form }}
			{% for form in wizard.form.forms %}
			{{ form }}
			{% endfor %}
		{% else %}
			{{ wizard.form }}
		{% endif %}
		</div>
		{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">first step</button>
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">prev step</button>
		{% endif %}
		<a class="w-full my-12 mx-auto flex items-center" href="{% url 'results' %}">
			<input class="bg-blue-500 text-white rounded-full text-md mx-auto w-2/3 py-2" type="submit" value="submit"/>
		</a>
		</form> -->
  </div>
</div>

<script type="text/javascript">
console.log("Test")
$('.carousel').carousel({
  }).on('slid.bs.carousel', function () {
	curSlide = $('.active');
	console.log(curSlide)
	  if (curSlide.is( ':last-child' )) {
		 $('.next').hide();
		 $('.submit').show();
		 return;
	  } else {
		 $('.right').show();	  
	  }
	});
</script>
{% endblock %}
